* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

header {
  background-color: #ddd6d7;
  color: antiquewhite;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 0px 3px rgba(53, 51, 51, 0.19);
  align-items: start; }
  header img {
    margin: 25px;
    width: 50%;
    display: flex;
    justify-content: left; }

#navbarText .nav-link {
  list-style-type: none;
  padding: 25px;
  margin-top: 25px;
  color: #e7adb8;
  font-weight: 600;
  margin-right: 15px; }

.navbar-brand {
  width: 150px; }

footer {
  padding: 20px;
  border-top: 2px;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-style: solid;
  border-color: #f7a2db;
  background-color: #dfdbdb; }
  footer p {
    color: grey;
    font-size: small;
    font-style: italic; }
  footer img {
    width: 85px;
    height: 70px; }
  footer ul {
    list-style-type: none;
    text-decoration: none; }
    footer ul a {
      text-decoration: none;
      color: grey;
      font-weight: 300;
      text-align: left; }
      footer ul a:hover {
        text-decoration: none;
        color: grey;
        font-weight: 500; }

.rrss {
  border-right: 2px;
  border-bottom: 0;
  border-top: 0;
  border-left: 2px;
  border-style: solid;
  border-color: #fcfafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .rrss h4 {
    color: grey;
    font-weight: 500;
    text-align: center; }

.rrssImg a img {
  width: 50px;
  height: auto; }
  .rrssImg a img:hover {
    opacity: 0.7; }

.footerMenu {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top: 15px; }

.footerCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.tyc {
  background-color: #ebe2e2;
  padding: 35px; }
  .tyc h1 {
    color: grey;
    margin-bottom: 20px; }
  .tyc h3 {
    color: grey;
    margin-bottom: 10px; }
  .tyc p {
    color: grey;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: justify; }
  .tyc ul {
    margin-bottom: 50px; }
    .tyc ul li {
      color: grey;
      margin-bottom: 10px;
      list-style-type: lower-roman;
      margin-left: 50px; }

.form-check {
  font-style: italic;
  color: grey;
  display: block; }

.tyc .btn-primary {
  background-color: #e7adb8;
  border-color: #e7adb8;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 310px; }
  .tyc .btn-primary:hover {
    background-color: #f8f6f6;
    border-color: #e7adb8;
    color: #e7adb8;
    font-weight: 500; }

@media screen and (max-width: 768px) {
  #navbarText .nav-item {
    padding: 5px;
    font-weight: 500;
    font-size: medium; }
  .rrssImg a img {
    width: 10%;
    padding-left: 10px; }
  .rrss h4 {
    font-weight: 500;
    font-size: medium;
    padding: 5px; }
  .footerMenu {
    padding-left: 10%; }
  footer ul a {
    font-weight: 300;
    font-size: small; }
  footer p {
    font-size: x-small; }
  footer img {
    width: 35px;
    height: auto; }
  .tyc .btn-primary {
    margin-left: 50px; } }

@media screen and (max-width: 480px) {
  .navbar-brand img {
    margin: 5px;
    width: 25%; }
  #navbarText .nav-link {
    padding: 5px;
    justify-content: right;
    margin-top: 5px;
    font-weight: 500;
    font-size: small; }
  .rrss {
    border-color: #fcfafa;
    border-right: 0;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 0;
    border-style: solid;
    align-items: center;
    justify-content: center;
    padding: 15px; }
    .rrss h4 {
      font-weight: 400;
      text-align: center;
      font-size: medium;
      padding: 0; }
  .rrssImg a {
    align-content: center;
    margin-left: 15px; }
  .rrssImg img {
    width: 15%;
    align-items: center;
    justify-content: center;
    margin-left: 8px; }
  footer ul {
    text-align: center; }
    footer ul a {
      font-weight: 400;
      text-align: center;
      font-size: small;
      padding-top: 15px; }
  footer p {
    font-size: x-small;
    font-style: italic;
    padding-bottom: 15px; }
  footer img {
    width: 45px;
    height: auto; }
  .tyc .btn-primary {
    margin-left: 50px; } }
