* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.btn-primary, .tyc .btn-primary, .contacto .btn-primary {
  background-color: #e7adb8;
  border-color: #e7adb8;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 300px; }

.tyc .btn-primary {
  margin-left: 0px;
  width: auto; }
  .tyc .btn-primary:hover {
    background-color: #f8f6f6;
    border-color: #e7adb8;
    color: #e7adb8;
    font-weight: 500; }

.contacto .btn-primary {
  margin-left: 0; }
  .contacto .btn-primary:hover {
    background-color: #f8f6f6;
    border-color: #e7adb8;
    color: #e7adb8;
    font-weight: 500; }

.buscador {
  padding: 30px; }
  .buscador h2 {
    color: grey;
    font-size: large; }
  .buscador h3 {
    color: grey;
    font-size: medium;
    font-weight: 500;
    padding-bottom: 20px; }

header {
  background-color: #ddd6d7;
  color: antiquewhite;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 0px 3px rgba(53, 51, 51, 0.19);
  align-items: start; }
  header img {
    margin: 25px;
    width: 50%;
    display: flex;
    justify-content: left; }

#navbarText .nav-link {
  list-style-type: none;
  padding: 25px;
  margin-top: 25px;
  color: #e7adb8;
  font-weight: 600;
  margin-right: 15px; }

.navbar-brand {
  width: 150px; }

footer {
  padding: 20px;
  border-top: 2px;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-style: solid;
  border-color: #f7a2db;
  background-color: #dfdbdb; }
  footer p {
    color: grey;
    font-size: small;
    font-style: italic; }
  footer img {
    width: 85px;
    height: 70px; }
  footer ul {
    list-style-type: none;
    text-decoration: none; }
    footer ul a {
      text-decoration: none;
      color: grey;
      font-weight: 300;
      text-align: left; }
      footer ul a:hover {
        text-decoration: none;
        color: grey;
        font-weight: 500; }

.rrss {
  border-right: 2px;
  border-bottom: 0;
  border-top: 0;
  border-left: 2px;
  border-style: solid;
  border-color: #fcfafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .rrss h4 {
    color: grey;
    font-weight: 500;
    text-align: center; }

.rrssImg a img {
  width: 50px;
  height: auto; }
  .rrssImg a img:hover {
    opacity: 0.7; }

.footerMenu {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top: 15px; }

.footerCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.portadaImg {
  background-image: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px; }
  .portadaImg h1 {
    font-size: 5em;
    font-weight: 800;
    padding-left: 20px;
    margin-top: 20px; }
  .portadaImg h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 30px;
    line-height: 1em;
    padding-left: 20px; }

.nosotros {
  background-color: #f8e8f3; }

.nosotrosText {
  text-align: right;
  font-weight: 600;
  font-size: 1.9em;
  padding: 25px;
  line-height: 60px;
  align-self: center; }

.nosotrosImg {
  padding: 30px;
  border-right: 3px;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-style: solid;
  border-color: #fcfafa;
  margin-top: 30px;
  margin-bottom: 30px; }

.card {
  border: 0;
  border-radius: 0;
  display: flex;
  flex-direction: row; }
  .card a {
    text-decoration: none;
    color: #b1a2a5;
    font-weight: 600;
    font-size: large;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px; }
    .card a:hover {
      opacity: 0.7;
      color: #dbc9cd; }
    .card a img {
      padding: 10 px, 20px, 0px, 10px;
      margin: 20px;
      opacity: 1;
      width: 85%; }

.miPerfil {
  padding: 30px;
  background-color: #f8e8f3; }
  .miPerfil h1 {
    color: grey;
    font-size: x-large;
    margin-bottom: 20px; }
  .miPerfil h5 {
    color: grey;
    font-size: large;
    margin-bottom: 20px; }

.perfil img {
  width: 280px; }

.perfil h3 {
  color: grey;
  border-color: grey;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-content: flex-end; }

.list-group-flush {
  background-color: #f8e8f3; }

.list-group-item {
  background-color: #f8e8f3;
  margin-left: 20px;
  padding-top: 23px; }

.card {
  background-color: #f8e8f3; }

.labiales {
  border-color: white;
  border-style: solid;
  border-width: 3px 0px 0px 0px;
  margin-top: 20px;
  padding-top: 20px; }

.labialesImg {
  display: flex;
  justify-content: space-between; }
  .labialesImg img {
    width: 205px; }

.cardTono {
  background-color: #fadbe0;
  display: flex;
  justify-content: center; }
  .cardTono a {
    text-decoration: none;
    color: #e08b99;
    padding: 15px;
    width: 45%;
    margin-bottom: 10px;
    justify-content: center; }
    .cardTono a h3 {
      color: #e08b99;
      font-weight: 600;
      font-size: large;
      text-align: center; }
    .cardTono a img {
      width: 80%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 50px;
      opacity: 1; }
    .cardTono a:hover {
      opacity: 0.5;
      color: #b1a2a5; }

.youtube {
  padding: 30px;
  background-color: #ecd4d8; }
  .youtube h1 {
    text-align: center;
    margin-left: 350px;
    color: grey;
    padding-bottom: 30px;
    width: 650px;
    font-size: x-large;
    font-weight: 500; }

iframe {
  height: 500px; }

.buscarPorMarca {
  background-color: #f8e8f3;
  padding: 10px; }

.titleCabecera h1 {
  text-align: center;
  color: grey;
  padding-top: 40px;
  font-size: x-large;
  display: flex;
  align-self: center; }

.btn-primary:hover {
  background-color: #f8f6f6;
  border-color: #e7adb8;
  color: #e7adb8;
  font-weight: 500; }

.buscarPorFormato {
  background-color: #f8e8f3;
  padding: 20px; }

.titleCabecera h1 {
  text-align: center;
  color: grey;
  padding-top: 40px;
  font-size: x-large;
  margin-bottom: 40px; }

.btn-primary:hover {
  background-color: #f8f6f6;
  border-color: #e7adb8;
  color: #e7adb8;
  font-weight: 500; }

.tyc {
  background-color: #ebe2e2;
  padding: 35px; }
  .tyc h1 {
    color: grey;
    margin-bottom: 20px; }
  .tyc h3 {
    color: grey;
    margin-bottom: 10px; }
  .tyc p {
    color: grey;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: justify; }
  .tyc ul {
    margin-bottom: 50px; }
    .tyc ul li {
      color: grey;
      margin-bottom: 10px;
      list-style-type: lower-roman;
      margin-left: 50px; }

.form-check {
  font-style: italic;
  color: grey;
  display: block; }

.contacto {
  background-color: #ebe2e2;
  padding: 35px;
  justify-content: center; }
  .contacto h1 {
    color: grey;
    text-align: center; }
  .contacto h3 {
    color: grey;
    margin-bottom: 40px;
    text-align: center; }
  .contacto label {
    color: grey;
    margin-right: 10px; }
  .contacto option {
    color: grey; }
  .contacto textarea {
    height: 200px; }

@media screen and (max-width: 768px) {
  #navbarText .nav-item {
    padding: 5px;
    font-weight: 500;
    font-size: medium; }
  .card a {
    font-weight: 500; }
    .card a img {
      padding: 5px, 10px, 0px, 5px;
      width: 25%; }
  .rrss {
    border-color: #fcfafa;
    border-right: 0;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 0;
    border-style: solid;
    align-items: center;
    justify-content: center;
    padding: 15px; }
    .rrss h4 {
      font-weight: 400;
      text-align: center;
      font-size: small;
      padding: 0; }
  .rrssImg {
    padding: 20px; }
    .rrssImg a img {
      width: 15%;
      margin-left: 60px; }
  footer ul {
    text-align: center; }
    footer ul a {
      line-height: 65px;
      padding-top: 20px; }
  .youtube {
    padding: 20px; }
    .youtube h1 {
      text-align: center;
      padding-bottom: 20px;
      margin-left: 0;
      width: auto;
      font-size: large;
      font-weight: 400; }
  .youtube h1 {
    padding-bottom: 20px;
    margin-left: 0;
    width: auto;
    font-weight: 500; }
  iframe {
    height: 400px; }
  .titleCabecera h1 {
    padding-top: 40px;
    font-size: large; }
  .tyc .btn-primary {
    margin-left: 50px; }
  .btn-primary, .tyc .btn-primary, .contacto .btn-primary {
    background-color: #e7adb8;
    border-color: #e7adb8;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 240px;
    width: auto; } }

@media screen and (max-width: 480px) {
  .navbar-brand img {
    margin: 5px;
    width: 25%; }
  #navbarText .nav-link {
    padding: 5px;
    justify-content: right;
    margin-top: 5px;
    font-weight: 500;
    font-size: small; }
  .portadaImg h1 {
    font-size: 2em;
    font-weight: 600;
    padding-left: 10px;
    margin-top: 10px; }
  .portadaImg h2 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 15px;
    line-height: 0.5em;
    padding-left: 10px; }
  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nosotrosText {
    font-weight: 400;
    font-size: medium;
    line-height: 20px;
    text-align: center; }
  .nosotrosImg {
    padding: 10px;
    border-right: 0;
    width: 50%;
    margin-bottom: 0; }
  .card {
    flex-direction: column;
    justify-content: center;
    align-self: center; }
    .card a {
      font-weight: 500;
      font-size: medium;
      text-align: center; }
      .card a img {
        padding-top: 20px;
        width: 85%;
        border-top: 2px;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        margin-top: 20px;
        border-style: solid;
        border-color: #fcfafa; }
  .rrss {
    border-color: #fcfafa;
    border-right: 0;
    border-bottom: 1px;
    border-top: 1px;
    border-left: 0;
    border-style: solid;
    align-items: center;
    justify-content: center;
    padding: 15px; }
    .rrss h4 {
      font-weight: 400;
      text-align: center;
      font-size: medium;
      padding: 0; }
  .rrssImg a {
    align-content: center;
    margin-left: 15px; }
    .rrssImg a img {
      width: 15%;
      margin-left: 0; }
  footer ul {
    text-align: center; }
    footer ul a {
      font-weight: 400;
      text-align: center;
      font-size: medium;
      line-height: 35px;
      padding-top: 15px; }
  footer p {
    font-size: x-small;
    font-style: italic;
    padding-bottom: 15px; }
  footer img {
    width: 45px;
    height: auto; }
  .tyc .btn-primary {
    margin-left: 50px; }
  .miPerfil {
    padding: 15px; }
    .miPerfil h1 {
      font-size: large;
      margin-bottom: 10px; }
    .miPerfil h5 {
      font-size: medium;
      margin-bottom: 10px; }
  .perfil img {
    width: 200px;
    align-self: center; }
  .perfil h3 {
    font-size: medium; }
  .list-group-item {
    padding-top: 15px;
    font-size: small;
    text-align: center; }
  .labiales h1 {
    margin-bottom: 20px; }
  .card h5 {
    font-size: medium;
    text-align: center; }
  .card img {
    width: 200px;
    align-self: center; }
  .cardTono a {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px; }
    .cardTono a h3 {
      font-weight: 500;
      font-size: medium; }
    .cardTono a img {
      width: 70%;
      height: auto;
      justify-content: center;
      align-items: center; }
    .cardTono a:hover {
      opacity: 0.5;
      color: #b1a2a5; }
  .youtube {
    padding: 20px; }
    .youtube h1 {
      text-align: center;
      padding-bottom: 20px;
      margin-left: 0;
      width: auto;
      font-size: large;
      font-weight: 400; }
  iframe {
    height: 300px; }
  .titleCabecera h1 {
    padding-top: 40px;
    font-size: large; }
  .btn-primary, .tyc .btn-primary, .contacto .btn-primary {
    background-color: #e7adb8;
    border-color: #e7adb8;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 65px;
    width: auto; }
  .tyc .btn-primary {
    background-color: #e7adb8;
    border-color: #e7adb8;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px;
    width: auto; } }
