* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


header {
    background-color: rgba(221, 214, 215);
    color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 0px 3px rgba(53, 51, 51, 0.19);
    align-items: start;
}

.navbar-brand {
    width: 150px;
}
.header img{
    margin: 25px;
    width: 50%;
    display: flex;
    justify-content: left;
}


#navbarText .nav-link {
    list-style-type: none;
    padding: 25px;
    margin-top: 25px;
    color: rgb(231, 173, 184);
    font-weight: 600;
    margin-right: 15px;
}



.portadaImg img {
    width: 100%;
}

.portadaImg {
    padding: 0;
}


.nosotros {
    background-color: rgb(248, 232, 243);

}

.nosotrosText {
    text-align: right;
    font-weight: 600;
    font-size: x-large;
    padding-right: 25px;
    line-height: 60px;
    align-self: center;

}

.nosotrosImg {
    padding: 25px;
    border-right: 3px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-style: solid;
    border-color: rgb(252, 250, 250);
    margin-top: 30px;
    margin-bottom: 30px;
}


.card {
    background-color: rgb(250, 219, 224);
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
}

.card a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.card a img {
    padding: 10 px, 20px, 0px, 10px;
    margin: 20px;
    opacity: 1;
    width: 85%;
}



.card a:hover {
    opacity: 0.5;
    color: rgb(177, 162, 165);
}


footer {
    padding: 20px;
    border-top: 2px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-style:solid;
    border-color: rgb(247, 162, 219);
    background-color: rgb(223, 219, 219);
}

.rrss {
    border-right: 2px;
    border-bottom: 0;
    border-top: 0;
    border-left: 2px;
    border-style: solid;
    border-color: rgb(252, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rrssImg a img {
    width: 50px;
    height: auto;
}

.rrssImg a img:hover {
    opacity: 0.7;
}

.rrss h4{
    color: grey;
    font-weight: 500;
    text-align: center;
}


.footerMenu {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 15px;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
}

footer ul a {
    text-decoration: none;
    color: grey;
    font-weight: 300;
    text-align: left;
}

footer ul a:hover{
    text-decoration: none;
    color: grey;
    font-weight: 500;
}

footer p {
    color: grey;
    font-size: small;
    font-style: italic;
}

footer img {
    width: 85px;
    height: 70px;
}

.footerCopy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/*PÁGINA TONO*/


.cardTono {
    background-color: rgb(250, 219, 224);
    display: flex;
    justify-content: center;
}

.cardTono a {
    text-decoration: none;
    color: rgb(224, 139, 153);
    padding: 15px;
    width: 45%;
    margin-bottom: 10px;
    justify-content: center;
}

.cardTono a h3 {
    color: rgb(224, 139, 153);
    font-weight: 600;
    font-size: large;
    text-align: center;
}

.cardTono a img {
    width: 80%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    opacity: 1;
}



.cardTono a:hover {
    opacity: 0.5;
    color: rgb(177, 162, 165);
}

.youtube {
    padding: 30px;
    background-color: rgb(236, 212, 216);
}

.youtube h1 {
    text-align: center;
    margin-left: 350px;
    color: grey;
    padding-bottom: 30px;
    width: 650px;
    font-size: x-large;
    font-weight: 500;
}

iframe {
    height: 500px;
}





/*----PÁGINA MARCA----*/

.buscarPorMarca {
    background-color: rgb(248, 232, 243);
    padding: 10px;
}

.marcaCabecera h1 { 
    text-align: center;
    color: grey;
    padding-top: 40px;
    font-size: x-large;
    display: flex;
    align-self: center;
}


.marcaBuscador {
    padding: 30px;
    display: inline-block;
}

.marcaBuscador h2 {
    color: rgb(141, 139, 139);
    font-size: large;
}

.marcaBuscador h3 {
    color: rgb(141, 139, 139);
    font-size: medium;
    font-weight: 500;
    padding-bottom: 20px;
}

.buscador {
    width: 300px;
    height: 30px;
    background-color: rgb(248, 245, 245);
    border: 2px;
    border-color: rgb(141, 139, 139);
    border-style: solid;
    display: inline-block;
}

.buscarPorMarca .btn-primary {
    background-color: rgb(231, 173, 184);
    border-color: rgb(231, 173, 184);
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 300px;
}

.buscarPorMarca .btn-primary:hover {
    background-color: rgb(248, 246, 246);
    border-color: rgb(231, 173, 184);
    color:rgb(231, 173, 184);
    font-weight: 500;
}



.líneaBuscador {
    padding: 30px;
}

.líneaBuscador h2 {
    color: rgb(141, 139, 139);
    font-size: large;
}

.líneaBuscador h3 {
    color: rgb(141, 139, 139);
    font-size: medium;
    font-weight: 500;
    padding-bottom: 20px;
}


.tonoBuscador {
    padding: 30px;
    display: inline-block;
}

.tonoBuscador h2 {
    color: rgb(141, 139, 139);
    font-size: large;
}

.tonoBuscador h3 {
    color: rgb(141, 139, 139);
    font-size: medium;
    font-weight: 500;
    padding-bottom: 20px;
}



/*PÁGINA FORMATO Y ACABADO*/

#buscarPorFormato {
    background-color: rgb(248, 232, 243);
    padding: 20px;
}

.formatoCabecera h1 { 
    text-align: center;
    color: grey;
    padding-top: 40px;
    width: 950px;
    font-size: x-large;
    margin-left: 210px;
    margin-bottom: 20px;
}

.botónSeleccioná {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 60px;
    min-width: 249px;
}

.menúFormato {
    position: relative;
    display: inline-block;
    margin-left: 60px;
}


.listaSeleccioná {
    display: none;
    position: absolute;
    background-color: rgb(248, 245, 245);
    min-width: 238px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.listaSeleccioná a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 249px;
}

.listaSeleccioná a:hover {
    background-color: rgb(128, 128, 128, 0.8);
    color: white;
    font-weight: 600;
}

.menúFormato:hover .listaSeleccioná {
    display: block;
    margin-left: 60px;
}

.menúAcabado {
    position: relative;
    display: inline-block;
    margin-left: 60px;
}

.menúAcabado:hover .listaSeleccioná {
    display: block;
    margin-left: 60px;
}

.menúTono {
    position: relative;
    display: inline-block;
    margin-left: 60px;
}


.listaSeleccionáTono {
    display: none;
    position: absolute;
    background-color: rgb(248, 245, 245);
    min-width: 200px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.listaSeleccionáTono a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 215px;
}

.listaSeleccionáTono a:hover {
    background-color: rgb(128, 128, 128, 0.8);
    color: white;
    font-weight: 600;
}

.menúTono:hover .listaSeleccionáTono {
    display: block;
    margin-left: 60px;
}

.buscarBotónFormato {
    width: 350px;
    height: 60px;
    background-color: rgba(180, 179, 179, 0.8);
    text-align: center;
    margin-left: 490px;
    margin-top: 380px;
    border-color: rgb(71, 71, 71, 0.6);
    display: block;
}


/*PÁGINA TÉRMINOS Y CONDICIONES*/

#tyc {
    background-color: rgb(235, 226, 226);
    padding: 35px;
}

#tyc h1 {
    color: grey;
    margin-bottom: 20px;
}

#tyc h3 {
    color: grey;
    margin-bottom: 10px;
}

#tyc p {
    color: grey;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: justify;
}

#tyc ul li {
    color: grey;
    margin-bottom: 10px;
    list-style-type: lower-roman;
    margin-left: 50px;
}

#tyc ul {
    margin-bottom: 50px;
}

.tycCheckbox {
    font-style: italic;
    color: grey;
    display: inline;
}

.tycCheckbox label{
    display: inline;
}

.enviarBotón {
    width: 180px;
    height: 30px;
    background-color: rgba(180, 179, 179, 0.8);
    text-align: center;
    margin-top: 20px;
    border-color: rgb(71, 71, 71, 0.6);
    display: block;
}



/*PÁGINA CONTACTO*/

.contacto {
    background-color: rgb(235, 226, 226);
    padding: 35px;
    justify-content: center;
}

.contacto h1 {
    color: grey;
    text-align: center;
}

.contacto h3 {
    color: grey;
    margin-bottom: 40px;
    text-align: center;
}


.contacto label {
    color: gray;
    margin-right: 10px;
}

.contacto option {
    color: gray;
}

.contacto textarea {
    height: 200px;
}

.btn-primary {
    background-color: rgb(231, 173, 184);
    border-color: rgb(231, 173, 184);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgb(248, 246, 246);
    border-color: rgb(231, 173, 184);
    color:rgb(231, 173, 184);
    font-weight: 500;
}




/*PÁGINA MI PERFIL*/

.miPerfil {
    padding: 30px;
    background-color: rgb(248, 232, 243);
}

.miPerfil h1 {
    color: grey;
    font-size: x-large;
    margin-bottom: 20px;
}

.miPerfil h5 {
    color: grey;
    font-size: large;
    margin-bottom: 20px;
}

.perfil img {
    width: 280px;
}

.perfil h3 {
    color: grey;
    border-color: grey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-content:flex-end;
}

.list-group-flush {
    background-color: rgb(248, 232, 243);
}

.list-group-item {
    background-color: rgb(248, 232, 243);
    margin-left: 20px;
    padding-top: 23px;
}

.card {
    background-color: rgb(248, 232, 243);
}

.labiales {
    border-color: white;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    margin-top: 20px;
    padding-top: 20px;
}

.labialesImg {
    display: flex;
    justify-content: space-between;
}

.labialesImg img {
    width: 205px;
}




/* RESPONSIVE CON QUERIES
@media screen and (max-width:768px) {
    #index{
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.01fr 0.06fr 0.2fr 0.5fr 0.4fr;
        grid-template-areas: 
        "header header header"
        "portada portada portada"
        "nosotros nosotros nosotros"
        "buscador buscador buscador"
        "footer footer footer"
        ;
    }

    #header {
        background-color: rgba(221, 214, 215);
        color: antiquewhite;
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 0px 3px rgba(53, 51, 51, 0.19);
        grid-area: header;
        align-items: start;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    
    #header img {
        margin: 30px;
        width: 15%;
        align-self: start;
    }
    
    
    
    .listaMenu {
        list-style-type: none;
        display: flex;
        padding: 20px;
        margin-left: 0;
    }
    
    
    .listaMenu li a {
        color: antiquewhite;
        font-weight: 600;
        font-size: small;
        margin-right: 15px;
        text-decoration: none;
        text-align: center;
    }
    
    .icons a img {
        display: none;
    }


    .portada {
        grid-area: portada;
    }
    
    .portada img {
        width: 100%;
    }
    
    
    .nosotros {
        background-color: rgb(248, 232, 243);
        grid-area: nosotros;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nosotrosimg nosotrostext";
        justify-content: left;

    }
    
    .nosotrosText {
        text-align: right;
        font-weight: 500;
        font-size: medium; 
        line-height: 40px;
        grid-area: nosotrostext;
    }
    
    .nosotrosImg {
        width: 90%;
        padding: 15px;
        border-right: 3px;
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
        border-style: solid;
        border-color: rgb(252, 250, 250);
        margin-top: 10px;
        margin-bottom: 10px;
        grid-area: nosotrosimg;
    }
    
    

    #buscar {
        grid-area: buscador;
    }
    
    .card {
        background-color: rgb(250, 219, 224);
        display: flex;
        flex-direction: row;
    }
    
    .card a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        padding: 15px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .card a img {
        padding: 10 px, 20px, 0px, 10px;
        margin: 20px;
        opacity: 1;
        width: 85%;
    }
    
    .buscadorTono {
        grid-area: buscadortono;
        
    }
    
    .buscadorMarca {
        grid-area: buscadormarca;
    }
    
    .buscadorForm {
        grid-area: buscadorform;
    }
    
    
    #footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "footercopy footerrrss footermenu";
    }
    
    footer {
        padding: 20px;
        border-top: 2px;
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
        border-style:solid;
        border-color: rgb(247, 162, 219);
        background-color: rgb(223, 219, 219);
        display: flex;
    }
    
    .rrss {
        border-right: 2px;
        border-bottom: 0;
        border-top: 0;
        border-left: 2px;
        border-style: solid;
        border-color: rgb(252, 250, 250);
        grid-area: footerrrss;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }
    
    .rrssImg a img {
        width: 15%;
        height: auto;
        padding-left: 15px;
    }
    
    .rrss h4{
        color: grey;
        font-weight: 500;
        text-align: center;
        font-size: medium;
        padding: 5px;
    }
    
    
    .footerMenu {
        grid-area: footermenu;
        display: flex;
        flex-direction: column;
        padding-left: 20%;
    }
    
    footer ul {
        list-style-type: none;
        text-decoration: none;
    }
    
    footer ul a{
        text-decoration: none;
        color: grey;
        font-weight: 300;
        text-align: left;
        font-size: small;
    }
    
    
    footer p {
        color: grey;
        font-size: x-small;
        font-style: italic;
    }
    
    footer img {
        width: 55px;
        height: 40px;
    }
    
    .footerCopy {
        grid-area: footercopy;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }





    #tono {
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        grid-template-rows: 0.02fr 1fr 1fr 0.4fr;
        grid-template-areas: 
        "header header header"
        "cardstono cardstono cardstono"
        "youtube youtube youtube"
        "footer footer footer"
        ;
    }
    
    .cardTono {
        background-color: rgb(250, 219, 224);
        grid-area: cardstono;
        display: flex;
    }
    
    .cardTono a {
        text-decoration: none;
        color: rgb(224, 139, 153);
        font-weight: 500;
        font-size: medium;
        padding: 15px;
        width: 45%;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .cardTono a img {
        width: 80%;
        height: auto;
        padding: 10 px, 20px, 0px, 10px;
        margin: 20px;
        opacity: 1;
    }
    
    
    
    .youtube {
        background-color: rgb(236, 191, 222);
        padding: 50px;
        grid-area: youtube;
    }
    
    .youtube h1 {
        text-align: center;
        margin-left: 0;
        color: grey;
        padding-bottom: 30px;
        width: 650px;
    }
    
    .youtube iframe {
        width: 23%;
        margin-left: 5px;
    }





}

@media screen and (max-width:480px) {
    #index{
        grid-template-columns: 0.05fr;
        grid-template-rows: 0.01fr 0.03fr 0.3fr 0.01fr 0.4fr;
        grid-template-areas: 
        "header"
        "portada"
        "nosotros"
        "buscador"
        "footer"
        ;
    }

    #header {
        background-color: rgba(221, 214, 215);
        color: antiquewhite;
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 0px 3px rgba(53, 51, 51, 0.19);
        grid-area: header;
        align-items: start;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    
    #header img {
        margin: 10px;
        width: 20%;
        align-self: center;
    }
    
    .icons a img {
        width: 40%;
        display: flex;
    }
    
    .listaMenu {
        display: none;
    }
    
    
    .portada {
        grid-area: portada;
    }
    
    .portada img {
        width: 100%;
    }
    
    
    .nosotros {
        background-color: rgb(248, 232, 243);
        grid-area: nosotros;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.2fr;
        grid-template-areas: 
        "nosotrosimg"
        "nosotrostext";
        justify-content: center;
    }
    
    .nosotrosText {
        text-align: center;
        font-weight: 300;
        font-size: xx-small; 
        grid-area: nosotrostext;
        line-height: 10px;
        padding: 5px;
    }
    
    .nosotrosImg {
        grid-area: nosotrosimg;
        align-content: center;
        width: 80%;
        border: 0;
        padding-left: 15px;
        margin: 0;
    }
    
    #buscar {
        grid-area: buscador;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "buscadortono" 
        "buscadormarca" 
        "buscadorform";
    }
    
    .card {
        background-color: rgb(250, 219, 224);
        display: flex;
        flex-direction: column;
    }
    
    .card a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
        font-size: small;
    }
    
    .card a img {
        opacity: 1;
        padding: 0;
        margin:0;
        justify-content: center;
    }
    
    .buscadorTono {
        grid-area: buscadortono;
        
    }
    
    .buscadorMarca {
        grid-area: buscadormarca;
    }
    
    .buscadorForm {
        grid-area: buscadorform;
    }
    
    
    #footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.3fr;
        grid-template-areas: 
        "footercopy"
        "footerrrss"
        "footermenu";
        flex-direction: column;
    }
    
    footer {
        padding: 20px;
        border-top: 2px;
        border-left: 0;
        border-bottom: 0;
        border-right: 0;
        border-style:solid;
        border-color: rgb(247, 162, 219);
        background-color: rgb(223, 219, 219);
        display: flex;
        flex-direction: column;
    }
    
    .rrss {
        border-right: 0;
        border-bottom: 2px;
        border-top: 2px;
        border-left: 0;
        border-style: solid;
        border-color: rgb(252, 250, 250);
        grid-area: footerrrss;
        display: flex;
        align-items: center;
        padding: 20px;
    }


    .rrssImg a img {
        width: 30%;
        height: auto;
        padding: 3px;
    }
    
    .rrss h4{
        color: grey;
        font-weight: 300;
        text-align: center;
        font-size: small;
        padding: 0;
    }
    
    
    .footerMenu {
        grid-area: footermenu;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    
    footer ul {
        list-style-type: none;
        text-decoration: none;
        text-align: center;
    }
    
    footer ul a{
        text-decoration: none;
        color: grey;
        font-weight: 300;
        text-align: center;
        font-size: x-small;
    }
    
    
    footer p {
        color: grey;
        font-size: x-small;
        font-style: italic;
        margin-bottom: 20px;
    }
    
    footer img {
        width: 55px;
        height: 40px;
    }
    
    .footerCopy {
        grid-area: footercopy;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    #tono {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 0.5fr 0.5fr 0.2fr;
        grid-template-areas: 
        "header"
        "cardstono"
        "youtube"
        "footer"
        ;
    }
    
    
    .cardTono {
        background-color: rgb(250, 219, 224);
        grid-area: cardstono;
        display: flex;
        flex-direction: column;
    }
    
    .cardTono a {
        text-decoration: none;
        color: rgb(224, 139, 153);
        font-weight: 400;
        font-size: small;
        padding-left: 15px;
        width: 80%;
        margin-left: 15px;
        margin-bottom: 0;
        text-align: center;
    }
    
    .cardTono a img {
        width: 80%;
        height: auto;
        padding:0;
        margin-top: 10px;
        opacity: 1;
    }
    
    
    
    .youtube {
        background-color: rgb(236, 191, 222);
        padding: 20px;
        grid-area: youtube;
    }
    
    .youtube h1 {
        text-align: center;
        margin-left: 0;
        color: grey;
        padding-bottom: 30px;
        width: 100%;
        font-size: small;
        font-weight: 400;
    }
    
    .youtube iframe {
        width: 45%;
        margin-left: 5px;}

    #footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.3fr;
        grid-template-areas: 
        "footercopy"
        "footerrrss"
        "footermenu";
        flex-direction: column;
        }
        
    footer {
            padding: 20px;
            border-top: 2px;
            border-left: 0;
            border-bottom: 0;
            border-right: 0;
            border-style:solid;
            border-color: rgb(247, 162, 219);
            background-color: rgb(223, 219, 219);
            display: flex;
            flex-direction: column;
        }
        
        .rrss {
            border-right: 0;
            border-bottom: 2px;
            border-top: 2px;
            border-left: 0;
            border-style: solid;
            border-color: rgb(252, 250, 250);
            grid-area: footerrrss;
            display: flex;
            align-items: center;
            padding: 20px;
        }
    
    
        .rrssImg a img {
            width: 18%;
            height: auto;
            padding: 5px;
        }
        
        .rrss h4{
            color: grey;
            font-weight: 300;
            text-align: center;
            font-size: small;
            padding: 0;
        }
        
        
        .footerMenu {
            grid-area: footermenu;
            display: flex;
            flex-direction: column;
            padding-left: 0;
        }
        
        footer ul {
            list-style-type: none;
            text-decoration: none;
            text-align: center;
        }
        
        footer ul a{
            text-decoration: none;
            color: grey;
            font-weight: 300;
            text-align: center;
            font-size: x-small;
        }
        
        
        footer p {
            color: grey;
            font-size: x-small;
            font-style: italic;
            margin-bottom: 20px;
        }
        
        footer img {
            width: 55px;
            height: 40px;
        }
        
        .footerCopy {
            grid-area: footercopy;
            display: flex;
            align-items: center;
            justify-content: center;
        }


}
*/

@media screen and (max-width:768px) {

    #navbarText .nav-item {
        padding: 5px;
        font-weight: 500;
        font-size: medium;
    }

    .nosotrosText {
        font-weight: 500;
        padding-right: 15px;
        line-height: 30px;
    }
    
    .nosotrosImg {
        width: 50%;
        height: auto;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    .card a {
        font-weight: 500;
        font-size: large;
    }
    
    .card a img {
        padding: 5px, 10px, 0px, 5px;
        width: 25%;
    }

    
    .rrssImg a img {
        width: 10%;
        padding-left: 10px;
    }
    
    .rrss h4{
        font-weight: 500;
        font-size: medium;
        padding: 5px;
    }
    
    
    .footerMenu {
        padding-left: 10%;
    }

    
    footer ul a{
        font-weight: 300;
        font-size: small;
    }
    
    
    footer p {
        font-size: x-small;
    }
    
    footer img {
        width: 35px;
        height: auto;
    }
    .youtube h1 {
        padding-bottom: 10px;
        margin-left: 0;
        font-size: large;
        font-weight: 600;
        width: auto;
    }

    iframe {
        height: 350px;
    }

    .buscarPorMarca .btn-primary {
        margin-bottom: 20px;
        margin-left: 215px;
    }
    


}

@media screen and (max-width:480px) {


    .navbar-brand img{
        margin: 5px;
        width: 25%;
    }

    #navbarText .nav-link {
        padding: 5px;
        justify-content: right; 
        margin-top: 5px;
        font-weight: 500;
        font-size: small;
    }

    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotrosText {
        font-weight: 400;
        font-size: small;
        padding-right: 5px;
        line-height: 20px;
        text-align: center;
    }
    
    .nosotrosImg {
        padding: 15px;
        border-right: 0;
        border-bottom: 3px;
        width: 50%;

    }

    .card {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .card a {
        font-weight: 500;
        font-size: medium;
        text-align: center;
        margin-bottom: 10px;
    }

    .card a img {
        padding: 5px;
        width: 85%;
    }

    .buscadorMarca {
        border-color:rgb(252, 250, 250);
        border-right: 0;
        border-bottom: 1px;
        border-top: 1px;
        border-left: 0;
        border-style: solid;
    }

    
    .rrss {
        border-color:rgb(252, 250, 250);
        border-right: 0;
        border-bottom: 1px;
        border-top: 1px;
        border-left: 0;
        border-style: solid;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }


    .rrssImg a img {
        width: 15%;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
    }

    .rrssImg a {
        align-content: center;
        margin-left: 15px;
    }
    
    .rrss h4 {
        font-weight: 400;
        text-align: center;
        font-size: medium;
        padding: 0;
    }
    
    
    
    footer ul {
        text-align: center;
    }
    
    footer ul a {
        font-weight: 400;
        text-align: center;
        font-size: small;
        padding-top: 15px;
    }
    
    
    footer p {
        font-size: x-small;
        font-style: italic;
        padding-bottom: 15px;
    }
    
    footer img {
        width: 45px;
        height: auto;
    }
    


    .contacto h1 {
        font-size: large;
        font-weight: 500;
    }
    
    .contacto h3 {
        font-size: medium;
        font-weight: 400;
    }

    .contacto label {
        font-size: small;
        font-weight: 400;
    }
    
    .contacto option {
        font-size: small;
        font-weight: 300;
    }
    
    .contacto textarea {
        height: 150px;
    }

    .youtube h1 {
        padding-bottom: 10px;
        margin-left: 0;
        font-size: large;
        font-weight: 600;
        width: auto;
    }

    iframe {
        height: 100%;
    }

    .cardTono a h3 {
        font-weight: 500;
        font-size: medium;
    }
    
    .cardTono a img {
        margin-left: 30px;
    }

    .buscarPorMarca .btn-primary {
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: medium;
    }

    .marcaCabecera h1 {
        font-size: large;
    }

    .marcaBuscador {
        padding: 15px;
    }

    .líneaBuscador {
        padding: 15px;
    }

    .tonoBuscador {
        padding: 15px;
    }
}
