.contacto {
    background-color: rgb(235, 226, 226);
    padding: 35px;
    justify-content: center;

    h1 {
        color: $colorTexto;
        text-align: center;
    }

    h3 {
        color: $colorTexto;
        margin-bottom: 40px;
        text-align: center;
    }

    label {
        color: $colorTexto;
        margin-right: 10px;
    }

    option {
        color: $colorTexto;
    }

    textarea {
        height: 200px;
    }
}



.btn-primary {
    background-color: rgb(231, 173, 184);
    border-color: rgb(231, 173, 184);
    font-weight: 500;

    &:hover {
        background-color: rgb(248, 246, 246);
        border-color: rgb(231, 173, 184);
        color:rgb(231, 173, 184);
        font-weight: 500;
    }

}
