.contacto {
    background-color: rgb(235, 226, 226);
    padding: 35px;
    justify-content: center;

    h1 {
        color: $colorTexto;
        text-align: center;
    }

    h3 {
        color: $colorTexto;
        margin-bottom: 40px;
        text-align: center;
    }

    label {
        color: $colorTexto;
        margin-right: 10px;
    }

    option {
        color: $colorTexto;
    }

    textarea {
        height: 200px;
    }
}

