header {
    background-color: rgb(235, 229, 230);
    color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 0px 0px 3px rgba(53, 51, 51, 0.19);
    align-items: start;

    img{
        margin: 25px;
        width: 50%;
        display: flex;
        justify-content: left;
}
}



.navbar-brand {
    width: 150px;
}

.navbar-nav {

    &:hover { 
        font-weight: 500;
        }

}


.dropdown-menu {
    background-color: rgb(235, 229, 230);
    border: 0;
    padding: 0;
}

.dropdown-item {
    border-bottom: 2px;
    border-color: rgb(248, 244, 244);
    border-style: solid;
    
    &:hover {
    background-color:rgb(235, 229, 230);
    color: white;
    font-weight: 500;
    }
}

#navbarNavDropdown ul li a {
    padding-right: 20px;
    color: rgb(182, 173, 174);

    &:hover {
        color: white;
        font-weight: 500;
        }
    
}