.buscarPorMarca {
    background-color: rgb(248, 232, 243);
    padding: 10px;
}

.titleCabecera {
    h1 { 
    text-align: center;
    color: $colorTexto;
    padding-top: 40px;
    font-size: x-large;
    display: flex;
    align-self: center;
    }
}





.btn-primary {
    &:hover {
        background-color: rgb(248, 246, 246);
        border-color: rgb(231, 173, 184);
        color:rgb(231, 173, 184);
        font-weight: 500;
    }
}


.modal-content {
    background-color: $modal-content-bg;
}

.modal-header {
    border-color: $modal-content-border-color;
    border-width: $modal-content-border-width;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    border-width: 0;
    justify-content: center;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: rgb(231, 173, 184);
    background-color: rgb(248, 246, 246);
    border-color: rgb(231, 173, 184);
    box-shadow: none;
}
