@media screen and (max-width:768px) {

    #navbarText .nav-item {
        padding: 5px;
        font-weight: 500;
        font-size: medium;
    }

    .rrssImg a {
        img {
            width: 10%;
            padding-left: 10px;
        }
    }
    
    .rrss {
        h4{
        font-weight: 500;
        font-size: medium;
        padding: 5px;
        }
    }
    
    
    .footerMenu {
        padding-left: 10%;
    }

    
    footer {
        ul {
            a{
        font-weight: 300;
        font-size: small;
        }
        }

        p {
        font-size: x-small;
        }

        img {
        width: 35px;
        height: auto;
        }
    }

    .tyc .btn-primary {
        margin-left: 50px;
    }
}

@media screen and (max-width:480px) {


    .navbar-brand {
        img{
        margin: 5px;
        width: 25%;
        }
    }

    #navbarText .nav-link {
        padding: 5px;
        justify-content: right; 
        margin-top: 5px;
        font-weight: 500;
        font-size: small;
    }

    .rrss {
        border-color:rgb(252, 250, 250);
        border-right: 0;
        border-bottom: 1px;
        border-top: 1px;
        border-left: 0;
        border-style: solid;
        align-items: center;
        justify-content: center;
        padding: 15px;

        h4 {
            font-weight: 400;
            text-align: center;
            font-size: medium;
            padding: 0;
        }
    }


    .rrssImg {
        a {
            align-content: center;
            margin-left: 15px;
        }

        img {
            width: 15%;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
        }
    }
    
    
    footer {

        ul {
            text-align: center;
            
            a {
                font-weight: 400;
                text-align: center;
                font-size: small;
                padding-top: 15px;
            }
        }

        p {
            font-size: x-small;
            font-style: italic;
            padding-bottom: 15px;
        }

        img {
            width: 45px;
            height: auto;
        }
    }


    .tyc .btn-primary {
        margin-left: 50px;
    }

    
}