@media screen and (max-width:768px) {

    #navbarText .nav-item {
        padding: 5px;
        font-weight: 500;
        font-size: medium;
    }

    .card {
        a {
            font-weight: 500;

            img {
                padding: 5px, 10px, 0px, 5px;
                width: 25%;
            }
        }
    }

    .rrss {
        border-color:rgb(252, 250, 250);
        border-right: 0;
        border-bottom: 1px;
        border-top: 1px;
        border-left: 0;
        border-style: solid;
        align-items: center;
        justify-content: center;
        padding: 15px;

        h4 {
            font-weight: 400;
            text-align: center;
            font-size: small;
            padding: 0;
        }
    }


    .rrssImg {
        padding: 20px;

        a {
            img {
                width: 15%;
                margin-left: 60px;
            }
        }
    }
    
    
    footer {

        ul {
            text-align: center;
            
            a {
                line-height: 65px;
                padding-top: 20px;
            }
        }
    }

    .youtube {
        padding: 20px;

        h1 {
            text-align: center;
            padding-bottom: 20px;

            margin-left: 0;
            width: auto;
            font-size: large;
            font-weight: 400;
        }
    }

    .youtube {
        h1 {
            padding-bottom: 20px;
            margin-left: 0;
            width: auto;
            font-weight: 500;
        }
    }

    iframe {
        height: 400px;
    }

    .titleCabecera {
        h1 { 
        padding-top: 40px;
        font-size: large;
        }
    }

    .tyc .btn-primary {
        margin-left: 50px;
    }


    $estiloBoton: (
    color: rgb(231, 173, 184),
    colorBorder: rgb(231, 173, 184),
    fontWeight: 500,
    marginB: 20px,
    marginT: 20px,
    marginL: 240px,
    widht: auto
    );


    .btn-primary {
        background-color: map-get($estiloBoton, color);
        border-color: map-get($estiloBoton, colorBorder);
        font-weight:map-get($estiloBoton, fontWeight);
        margin-bottom: map-get($estiloBoton, marginB);
        margin-top: map-get($estiloBoton, marginT);
        margin-left: map-get($estiloBoton, marginL);
        width: map-get($estiloBoton, widht);
    }
}



@media screen and (max-width:480px) {


    .navbar-brand {
        img{
        margin: 5px;
        width: 25%;
        }
    }

    #navbarText .nav-link {
        padding: 5px;
        justify-content: right; 
        margin-top: 5px;
        font-weight: 500;
        font-size: small;
    }

    .portadaImg {
    
        h1 {
            font-size:2em;
            font-weight: 600;
            padding-left: 10px;
            margin-top: 10px;
        }
    
        h2 {
            font-size: 1em;
            font-weight: 400;
            margin-top: 15px;
            line-height: 0.5em;
            padding-left: 10px;
        }
    }
    

    .nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotrosText {
        font-weight: 400;
        font-size: medium;
        line-height: 20px;
        text-align: center;
    }
    
    .nosotrosImg {
        padding: 10px;
        border-right: 0;
        width: 50%;
        margin-bottom: 0;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        align-self: center;

        a {
            font-weight: 500;
            font-size: medium;
            text-align: center;

            img {
                padding-top: 20px;
                width: 85%;
                border-top: 2px;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
                margin-top: 20px;
                border-style: solid;
                border-color: rgb(252, 250, 250);

            }
        }
    }

    .rrss {
        border-color:rgb(252, 250, 250);
        border-right: 0;
        border-bottom: 1px;
        border-top: 1px;
        border-left: 0;
        border-style: solid;
        align-items: center;
        justify-content: center;
        padding: 15px;

        h4 {
            font-weight: 400;
            text-align: center;
            font-size: medium;
            padding: 0;
        }
    }


    .rrssImg {
        a {
            align-content: center;
            margin-left: 15px;

            img {
                width: 15%;
                margin-left: 0;
            }
        }
    }
    
    
    footer {

        ul {
            text-align: center;
            
            a {
                font-weight: 400;
                text-align: center;
                font-size: medium;
                line-height: 35px;
                padding-top: 15px;
            }
        }

        p {
            font-size: x-small;
            font-style: italic;
            padding-bottom: 15px;
        }

        img {
            width: 45px;
            height: auto;
        }
    }


    .tyc .btn-primary {
        margin-left: 50px;
    }


    .miPerfil {
        padding: 15px;

        h1 {
            font-size: large;
            margin-bottom: 10px;
        }
    
        h5 {
            font-size: medium;
            margin-bottom: 10px;
        }
    
    }


    .perfil {

        img {
        width: 200px;
        align-self: center;
        }
    
        h3 {
        font-size: medium;
        }
    }

    .list-group-item {
        padding-top: 15px;
        font-size: small;
        text-align: center;
    }


    .labiales {
        h1 {
            margin-bottom: 20px;
        }
    }
        .card {
            

            h5 {
                font-size: medium;
                text-align: center;
            }

            img {
                width: 200px;
                align-self: center;
            }
        }

    
        .cardTono {
        
            a {
                padding: 0;
                margin-bottom: 10px;
                margin-top: 10px;
        
                h3 {
                    font-weight: 500;
                    font-size: medium;
                }
        
                img {
                    width: 70%;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                }
        
                &:hover {
                    opacity: 0.5;
                    color: rgb(177, 162, 165);
                }
            }
        }



    .youtube {
        padding: 20px;

        h1 {
            text-align: center;
            padding-bottom: 20px;

            margin-left: 0;
            width: auto;
            font-size: large;
            font-weight: 400;
        }
    }

    iframe {
        height: 300px;
    }



    .titleCabecera {
        h1 { 
        padding-top: 40px;
        font-size: large;
        }
    }

$estiloBoton: (
    color: rgb(231, 173, 184),
    colorBorder: rgb(231, 173, 184),
    fontWeight: 500,
    marginB: 20px,
    marginT: 20px,
    marginL: 65px,
    widht: auto
);


.btn-primary {
    background-color: map-get($estiloBoton, color);
    border-color: map-get($estiloBoton, colorBorder);
    font-weight:map-get($estiloBoton, fontWeight);
    margin-bottom: map-get($estiloBoton, marginB);
    margin-top: map-get($estiloBoton, marginT);
    margin-left: map-get($estiloBoton, marginL);
    width: map-get($estiloBoton, widht);
}

$estiloBoton: (
    color: rgb(231, 173, 184),
    colorBorder: rgb(231, 173, 184),
    fontWeight: 500,
    marginB: 20px,
    marginT: 20px,
    marginL: 0px,
    widht: auto
);


.tyc .btn-primary {
    background-color: map-get($estiloBoton, color);
    border-color: map-get($estiloBoton, colorBorder);
    font-weight:map-get($estiloBoton, fontWeight);
    margin-bottom: map-get($estiloBoton, marginB);
    margin-top: map-get($estiloBoton, marginT);
    margin-left: map-get($estiloBoton, marginL);
    width: map-get($estiloBoton, widht);
}

}