* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

@import "variables";
@import "header";
@import "footer";
@import "index";
@import "perfil";
@import "tono";
@import "marca";
@import "formatoyacabado";
@import "tyc";
@import "contacto";
@import "mediaqueries";






